.light-placeholder {
  background-color: #000;
  border-radius: 10px;
  padding: 20px 0;
  margin: 0 10px;
}

.light-placeholder .light-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.light-placeholder .slider-horizontal {
  width: 100px !important;
  margin-left: 20px;
}

.light-placeholder .colorpicker-element {
  border-radius: 4px;
}

.light-placeholder .colorpicker-component {
    padding-right: 20px;
}

.light-placeholder .brightness-label {
  margin-top: 10px;
}
