<template>
  <require from="../../converters/number-percent"></require>
  <require from="bootstrap-slider/css/bootstrap-slider.css"></require>
  <require from="./hue-light.css"></require>

  <div class="col-xs-6 col-sm-3 placeholder light-placeholder">
    <div style.bind="light.uiProps.style" class="light-shape"></div>
    <h4>${light.name}</h4>
    <input id.bind="light.uiProps.id" type="text">
    <div class="text-muted brightness-label">
      ${light.uiProps.brightness | numberPercent}
    </div>
  </div>
</template>
