
.light-placeholder .light-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}

.light-placeholder .slider-horizontal {
  width: 100px !important;
}

.light-placeholder .brightness-label {
  margin-top: 10px;
}
